{% extends 'base.html' %}

{% block content %}

    <div class="card mt-5">
        <h5 class="card-header">{{ insurance }}</h5>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">
                Insurance Validity - {{insurance.validity}}
            </p>
            <p class="card-text"></p>
                Insurance Coverage - {{insurance.coverage}}
            </p>
            <a href="#" class="btn btn-primary">Update</a>
        </div>
    </div>
    
{% endblock %}